<%- include('partials/header') %>

<section class="restaurant-title-img container-fluid" style="background-image: url(<%= restaurant.carouselImages[0] %>)">
</section>

<section class="restaurant-title-content">
  <div class="main-container">
    <div class="row">
      <div class="col col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="restaurant-info-container-wrap">
          <div class="restaurant-info-container">
            <div class="row">
              <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="restaurant-name">
                  <h1 class="restaurant-name"><b><%= restaurant.name %></b></h1>
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="restaurant-features-left" id="address">
                  <i class="fas fa-location-arrow"></i>
                  Location of Restaurant: <%= restaurant.address %>
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="restaurant-features-left">
                  <i class="fas fa-clock "></i>
                  <span>Open from: <%= restaurant.openFrom %> - <%= restaurant.openTill %></span>
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="restaurant-features-right">
                  <i class="fas fa-star icon-rating"></i>
                  Ratings: <%= restaurant.ratings %> <i class="fas fa-star rating-star"></i>
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="restaurant-features-right">
                  <i class="fas fa-phone-alt"></i>
                  Call Restaurant: <%= restaurant.phone %>
                </div>
              </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menu" aria-selected="false">Menu</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" aria-controls="images" aria-selected="false">Images</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                  <br>
                  <p class="restaurant-description">
                    <%= restaurant.description %>
                  </p><br /><br />
                </div>
                <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="profile-tab">
                  <br>
                  <br>
                  <div>
                    <img src=<%= restaurant.menuImage %> alt="menu1">
                  </div>
                  <br /><br /><br />
                </div>
                <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="contact-tab">
                  <br>
                  <br>
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src=<%= restaurant.carouselImages[0] %> class="carousel-image d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src=<%= restaurant.carouselImages[1] %> class="carousel-image d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src=<%= restaurant.carouselImages[2] %> class="carousel-image d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-12 col-sm-12 col-12" id='book-a-table-col'>
        <section class="book-a-table">

          <h3 class="make-res">Make a Reservation</h3>
          <hr class="res-hr">

          <form action="/revieworder/<%= restaurant._id %>" method="post">
            <div class="guest-container">
              <div class="book-a-table-icon">
                <i class="fas fa-user-plus fa-2x"></i>
              </div>
              <div class="book-a-table-selection">
                <select class="custom-select custom-select-guest custom-select-md mb-3 col-9" style="border:2px solid grey;" name="guests" required>
                  <option selected>Select number of guests</option>
                  <option value="1">1 Guest</option>
                  <option value="2">2 Guests</option>
                  <option value="3">3 Guests</option>
                  <option value="4">4 Guests</option>
                  <option value="5">5 Guests</option>
                  <option value="6">6 Guests</option>
                  <option value="7">7 Guests</option>
                </select>
              </div>
            </div>
            <div class="date-container">
              <div class="book-a-table-icon">
                <i class="fas fa-table fa-2x"></i>
              </div>
              <div class="book-a-table-selection">
                <input type="date" id="date-of-booking" name="bookingDate" style="border:2px solid grey;" required>
              </div>
            </div>
            <div class="time-container">

              <i class="fas fa-clock fa-2x book-a-table-icon"></i>
              <select class="custom-select custom-select-md mb-3 col-9" style="border:2px solid grey;" name="time" required>
                <option selected>Select time</option>
                <option value="11am">11 A.M</option>
                <option value="12pm">12 P.M</option>
                <option value="1pm">1 P.M</option>
                <option value="2pm">2 P.M</option>
                <option value="3pm">3 P.M</option>
                <option value="4pm">4 P.M</option>
                <option value="5pm">5 P.M</option>
                <option value="6pm">6 P.M</option>
                <option value="7pm">7 P.M</option>
                <option value="8pm">8 P.M</option>
                <option value="9pm">9 P.M</option>
                <option value="10pm">10 P.M</option>
                <option value="11pm">11 P.M</option>
              </select>
            </div>

            <button type="submit" class="btn btn-danger btn-lg col-11 book-table-button">Book Table</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>
